<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='socket.io.js') }}" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='jquery-3.3.1.slim.min.js') }}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      
    <script>
        host = "raspberrypi";
        port = 5050;
        const motor_socket = new WebSocket(`ws:${host}:${port}`);
        const gyro_socket = new WebSocket(`ws://${host}:${port + 1}`);
        const ir_socket = new WebSocket(`ws:${host}:${port + 2}`);
        isOpen = true
        isLevel = false
        isLidOpen = false

        var progressbar = $( "#progressbar-5" );
        var progressLabel = $( ".progress-label" );

        gyro_socket.onopen = function (event) {
            to_send = {
                "cmd" : ""
            }
            gyro_socket.send(JSON.stringify(to_send));
        }

        ir_socket.onopen = function (event) {
            to_send = {
                "cmd" : ""
            }
            ir_socket.send(JSON.stringify(to_send))
        }

        to_send = {
            "cmd" : "get_gyro"
        }
        function open_proc(timeout=1000) {

            to_send = {
                "cmd" : "lift",
                "params" : ["0"],
                "message" : {
                    "count" : 0,
                    "timeout" : timeout,
                    "total_timeout" : timeout,
                    "status" : "go"
                }
            }
            motor_socket.send(JSON.stringify(to_send));
        }

        motor_socket.onmessage = function (event) {
            duration = 100
            to_send = {
                "cmd" : "lower",
                "params" : [duration]
            }
            data = JSON.parse(event.data);
            count = data["message"]["count"];
            timeout = data["message"]["timeout"];
            total_timeout = data["message"]["total_timeout"];
            status = data["message"]["status"];
            console.log(`return: ${data["return"]}, count: ${count}, timeout: ${timeout}, status: ${status}, isLevel: ${isLevel}, isOpen: ${isOpen} isLidOpen: ${isLidOpen}`);
            if ((data["return"] == "timeout") && (timeout > 0) && isOpen && isLevel && isLidOpen) {
                to_send["message"] = {
                    "count" : count + 1,
                    "timeout" : timeout - duration,
                    "total_timeout" : total_timeout,
                    "status" : status
                }
                motor_socket.send(JSON.stringify(to_send));
            }
        }

        //var socket = io("ws://raspberrypi:5050");
        // const socket = new WebSocket("ws://localhost:5050");
        const gyro_socket = new WebSocket("ws://localhost:5050");
        const ir_socket = new WebSocket("ws://localhost:5051");
        // var g_val = 0

        var maxWidth = 1500;
        var duration = 10000;
        var $log = $('#log');
        var $open = $('#open');
        var $stop = $('#stop');
        var timer;

        $(function(){
            $('#open').on('click' , function(){
                open_proc()
              // send open command
              $open.attr('disabled', true);
              $stop.removeAttr("disabled");

              $('#open').removeClass('btn-danger').addClass('btn-success');
              $('#close').removeClass('btn-success').addClass('btn-danger');
              $('#stop').removeClass('btn-success').addClass('btn-danger');

              var $bar = $('#bar');
              Horloge(maxWidth);
              timer = setInterval('Horloge('+maxWidth+')', 100);

              $bar.animate({
                  width: maxWidth
              }, duration, function() {
                  $(this).css('background-color', 'green');
                  $log.html('100 %');
                  clearInterval(timer);
              });
            });

        $(function(){
          // send close command
          $('#close').on('click' , function(){

            $open.removeAttr("disabled");
            $stop.removeAttr("disabled");

            $('#close').removeClass('btn-danger').addClass('btn-success');
            $('#stop').removeClass('btn-success').addClass('btn-danger');
            $('#open').removeClass('btn-success').addClass('btn-danger');
          });
        });

        $(function(){
          $('#stop').on('click' , function(){
            // send stop command

            $stop.attr('disabled', true);
            $open.removeAttr("disabled");

            $('#stop').removeClass('btn-danger').addClass('btn-success');
            $('#open').removeClass('btn-success').addClass('btn-danger');
            $('#close').removeClass('btn-success').addClass('btn-danger');

            var $bar = $('#bar');
            $bar.stop();
            console.log("here");

            clearInterval(timer);

            var w = $bar.width();
            var percent = parseInt((w * 100) / maxWidth);
            $log.html(percent + ' %');
          });
        });
      });

        gyro_socket.onmessage = function (event) {
            var obj = JSON.parse(event.data);
            pitch = obj["return"]["pitch"]
            roll = obj["return"]["roll"]
            
            //console.log(`pitch: ${pitch}, roll: ${roll}`);
            if (pitch != undefined && roll != undefined) {
                $("#gyro-data").html(`${pitch} ${roll}`);
            }

            if (Math.abs(pitch) < 15 && Math.abs(roll) < 15) {
                isLevel = true;
            } else {
                isLevel = false;
            }
            to_send = {
                "cmd" : "get_gyro"
            }
            gyro_socket.send(JSON.stringify(to_send));
        }

        ir_socket.onmessage = function (event) {
            var obj = JSON.parse(event.data);
            //console.log(`ir data: ${obj["return"]}`);
            if (obj["return"]) {
                isLidOpen = true;
            } else {
                isLidOpen = false;
            }

            $("#ir-data").html(`${obj["return"]}`);
            to_send = {
                "cmd" : "is_open"
            }
            ir_socket.send(JSON.stringify(to_send))
        }

        function Horloge(maxWidth) { var w = $('#bar').width();
            var percent = parseInt((w * 100) / maxWidth);
            $('#log').html(percent + ' %');
        }

    </script>


    <style>
      .progress-label {
        position: inherit;
        left: 0%;
        top: 13px;
        font-weight: bold;
        text-shadow: 1px 1px 0 #fff;
      }
      #bar {
        width:0px;
        height:25px;
        border:1px solid black;
        background-color:yellow;
        border-radius:3px;
      }
    </style>

</head>

<nav class="navbar navbar-light bg-light">
  <nav class="navbar navbar-light bg-light">
    <p class="navbar-brand mx-3 my-0 pb-0 fs-2">DRONE VALET</p>
  </nav>
</nav>

<body class="bg-primary text-center">
    <div>
        <img src="{{url_for('static', filename='drone-valet.png')}}" align="middle" class="mt-5"/>
    </div>

    <div class="d-flex justify-content-center my-4">
        <button id="open" type="button" name="Open" value="open" class="btn btn-danger mx-4"> Open </button>
        <button id="close" type="button" name="Close" value="close" class="btn btn-danger mx-4"> Close </button>
        <button id="stop" type="button" name="Stop" value="stop" class="btn btn-danger mx-4"> Stop </button>
    </div>

    {% block content %}{% endblock %}

    <div class="d-flex justify-content-center">
      <div class="card mx-4">
          <div class="card-header">
          Gyro 
          </div>
          <div class="card-body" style="width: 500px">
          <blockquote class="blockquote mb-0">
              <p id="gyro-data"></p>
          </blockquote>
          </div>
      </div>

      <div class="card mx-4">
          <div class="card-header">
          IR Sensor
          </div>
          <div class="card-body" style="width: 500px">
          <blockquote class="blockquote mb-0">
              <p id="ir-data">Open/Close</p>
          </blockquote>
          </div>
      </div>
    </div>

    <!-- http://jsfiddle.net/sylouuu/V7a3Y/15/ -->

    <div class="text-white progress-label mt-4 fs-1">
      Click Open to start open drone carrier
    </div>

    <div id="log" class="text-white progress-label mt-3 fs-2"></div>
    <div id="bar" class="mx-5"></div>

    <script src="{{ url_for('static', filename='popper.min.js') }}" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
