<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="{{ url_for('static', filename='socket.io.js') }}" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>

    <script>
        console.log('start');
        var socket = io("ws://10.3.141.1:5050");
        // Event handler for new connections.
        // The callback function is invoked when a connection with the
        // server is established.
        // b = new Msg(["hi","\n"], {type: 'text/plain'});
        // socket.send(b);
        socket.on('connect', function() {
            // socket.send('message', "hello");
            console.log('connect');
        });

    </script>

    <title>Document</title>
</head>
<body class="bg-primary text-center">
    <h1 class="mt-5"> Drone Valet </h1>
    
    <div class="d-flex justify-content-center my-4">
        <form method ="post" action="/open.html">
             <button type="submit" name="Open" value="open" class="btn btn-secondary mx-4"> Open </button>
        </form> 
        <form id="close" method ="post" action="/close.html">
             <button type="submit" name="Close" value="close" class="btn btn-secondary mx-4"> Close </button>
        </form> 
    </div>

    {% block content %}{% endblock %}

    <h1>Data1: <span id="data1">  </span></h1>

    <script src="{{ url_for('static', filename='jquery-3.3.1.slim.min.js') }}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='popper.min.js') }}" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
